.landing-page-container {
    background-color: #6fa2ef;
    .landing-page-header {
        display: flex;
        font-size: 65px;
        color: white;
        padding: 20px;
        // .fitness-dial-logo {
        //     width: 40px;
        // }
        // .navbar {
        //     display: flex;
            
        //     li.navbar-item {
        //         list-style: none;
        //         padding: 10px;
        //         margin: 10px;
        //     }
        // }
    }
    .landing-page-body {
        display: flex;
        height: 100vh;
        .landing-page-left-pane {
            width: 50%;
            border-right: 1px solid lightgrey;
        }
        .landing-page-right-pane {
            p {
                font-size: 14px;
            }
            width: 50%;
            .heading {
                padding: 15px;
                font-size: 21px;
            }
        }
    }
}